env
.env
*__pycache__*
classes/db
migrations
Tareas.txt
data/backups/*
linkedin.db
test
log.txt
*.dir
*.dat
*.bak
config/proxies/proxy_extension/
credentials.json

docker-compose.yml
Dockerfile
scripts
